@model List<ShopDT_Back_End.Models.GHItem>

<a href="checkout.html">
    <i class="glyphicon glyphicon-shopping-cart"></i>Giỏ hàng
    <div class="total">
        <span class="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">@Model.Count</span> Sản phẩm)
    </div>
</a>
