
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MyLayout/MainLayout.cshtml";
}

<br />
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Liên Hệ</li>
    </ol>
    <br />
    @*<div class="contact-block">
        <div class="row">*@
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-feedback">
                    <h3 class="title">Gửi thông tin liên hệ</h3>
                    <form ng-submit="sendContact()" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-user"></i></span>
                            <input type="text" placeholder="Họ tên" ng-model="Name" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                            <input type="text" placeholder="Địa chỉ" ng-model="Address" class="form-control ng-pristine ng-untouched ng-valid">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" placeholder="Email" ng-model="Email" class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" required="">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="text" placeholder="Điện thoại" ng-model="Phone" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                            <input type="text" placeholder="Tiêu đề" ng-model="Title" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Nội dung" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" rows="3" ng-model="Content" required=""></textarea>
                        </div>
                        <button class="btn btn-default" type="submit">Gửi liên hệ</button>
                    </form>
                </div>
            </div>
        </div>
    @*</div>
</div>*@
<br />
<br />

