
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/MyLayout/MainLayout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="product.html">Giỏ hàng</a></li>
        <li class="active">Chi tiết giỏ hàng</li>
    </ol>
    <div class="section group">
        <div class="alert alert-success">
            <h3>Bạn vừa mua hàng thành công.</h3> 
        </div>
    </div>
    </div>


